{% extends "base.html" %}

{% block content %}
<div style="height: 100px;"></div>
<p>"Как работает сайт?"<br>Из каталога задач случайно выбирается 10 задач на выбранную Вами тему.
    После прохождения теста Вы можете просмотреть свою оценку, а также, если Вы зарегистрированы,
свои ошибки.</p>
<br>
<p><a href="/test">Тест на случайно выбранные темы</a></p>
<p><a href="/test?test_id=0">Тест на квадратные уравнения</a></p>
<p><a href="/test?test_id=1">Тест на расчетные задачи</a></p>
<p><a href="/test?test_id=2">Тест на задачи на прогрессии</a></p>
<p><a href="/test?test_id=3">Тест на геометрические задачи</a></p>
<p><a href="/test?test_id=4">Тест на задачи на теорию вероятности</a></p>

{% endblock %}