{% extends "base.html" %}

{% block content %}
<div style="height: 170px;"></div>
Добро пожаловать! Этот сайт создан для того, чтобы помогать учащимся 9 классов
проверять и дополнять свои знания по математике в подготовке к ОГЭ. На этом сайте
Вы можете проходить тесты, чтобы оценить свои знания.
<br><br>
Сайт можно использовать без регистрации, но только зарегистрированные пользователи
могут просматривать в Личном кабинете свой средний балл за все тесты, темы, над
которыми им стоит поработать, и многое другое. Приятного обучения!
<br><br>
<a class="btn btn-primary " href="/test_index">Перейти к тестам</a>
<footer>
    <div style="font-size: 13px; width: 100%; text-align: center; background-color: white;
    position: absolute; top: 100%;">Используемые материалы взяты с сайтов: mathexample.com, shpargalkaege.ru,
    easy-physic.ru, externat.foxford.ru</div>
</footer>
{% endblock %}
