{% extends "base.html" %}

{% block content %}
Добро пожаловать! Этот сайт создан для того, чтобы помогать учащимся 9 классов
проверять и дополнять свои знания по математике в подготовке к ОГЭ. На этом сайте
Вы можете проходить тесты, чтобы оценить свои знания. Сайт можно использовать
без регистрации, но только зарегистрированные пользователи могут просматривать в
Личном кабинете свой средний балл за все тесты, темы, над которыми им стоит
поработать, и многое другое. Приятного обучения!
{% endblock %}
